* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: hidden;
}
body {
  background-image: url(https://midu.dev/images/wallpapers/una-taza-de-javascript.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ul {
  padding-left: 0px;
}
main {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(22, 22, 25, 0.7);
  padding: 10px;
  border-radius: 20px;
}
/* IMAGEN */
.img-style {
  border-radius: 50%;
  width: 70px;
}
.img-style:hover {
  transform: scale(1.1);
}
.img-center {
  text-align: center;
}

/* TEXTO */
.text-center {
  text-align: center;
  color: aliceblue;
}
.title {
  font-size: 16px;
}
.specialties {
  font-size: 14px;
}
.text {
  font-size: 12px;
  line-height: 16px;
}

/* Skill */
.skills_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.list {
  display: list-item;
  list-style: none;
  font-size: 14px;
  box-shadow: 0 0.25rem 0.5rem 0.125rem #20232a;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
  background-color: beige;
  color: #20232a;
}
.list:hover {
  background-color: rgba(245, 245, 220, 0.5);
  transform: scale(1.2);
  color: #fff;
}
/* ICONOS */
.icon {
  width: 20px;
  height: 20px;
}
.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.icon:hover {
  transform: scale(1.9);
}
@media (min-width: 820px) {
  main {
    width: 600px;
  }
  /* Imagen */
  .img-style {
    width: 150px;
  }
  /* ICON */
  .icon-row {
    width: 400px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  /* TEXT */
  .title {
    font-size: 32px;
  }
  .specialties {
    font-size: 24px;
  }
  .text {
    font-size: 18px;
    line-height: 20px;
  }
  /* SKILL */
  .skills_list {
    gap: 1.2rem;
  }
  .list {
    font-size: 18px;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  main {
    width: 600px;
  }
  /* Imagen */
  .img-style {
    width: 100px;
  }
  /* ICON */
  .icon-row {
    width: 400px;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  /* TEXT */
  .title {
    font-size: 24px;
  }
  .specialties {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
    line-height: 18px;
  }
  /* SKILL */
  .skills_list {
    gap: 1.2rem;
  }
  .list {
    font-size: 14px;
    padding: 10px;
  }
}
